/* ForgetPassword.css */

.forget-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.forget-password-form {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.forget-password-form h2 {
  margin-bottom: 20px;
  text-align: center;
}

.forget-password-form input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.forget-password-form button {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 3px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.forget-password-form button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
}

.success {
  color: green;
}
