/* UpdateProfile.css */

.update-profile-container {
  float: right;
  max-width: 75%;
  width: 75%;
  margin-left: 25%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f2f5;
}

.update-profile-form {
  margin-left: 10px;
  width: 100%;
  max-width: 800px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.update-profile-form .form-group {
  display: flex;
  flex-direction: column;
}

.update-profile-form label {
  margin-bottom: 8px;
  font-weight: 600;
  color: #555555;
}

.update-profile-form input {
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  font-size: 1rem;
  margin-bottom: 10px;
}

.update-profile-form input[type='file'] {
  padding: 0;
}
.user-photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 20px;
  margin-bottom: 0px;
}
.update-profile-form input:focus {
  border-color: #007bff;
  outline: none;
}

.update-profile-form button {
  grid-column: span 2;

  padding: 12px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.update-profile-form button:hover {
  background-color: #0056b3;
}

.success-message {
  grid-column: span 2;
  color: #28a745;
  margin-bottom: 1rem;
  text-align: center;
}

.error-message {
  grid-column: span 2;
  color: #dc3545;
  margin-bottom: 1rem;
  text-align: center;
}

.existing-photo {
  grid-column: span 2;
  text-align: right;
  margin-bottom: 10px;
}
